/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 9/05/2023, 8:06:37 a. m.
    Author     : Ale
*/

body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}
a{
    color: #1368E3;    
    text-decoration: none;
    display: block;    
    font-size: 25px;  
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
a:hover{
    color: #4CAF50; 
}
form {
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    color: #333;
}

input[type="text"],
input[type="number"],
select {
    font-size: 18px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

select {
    height: 40px;
}

button {
    display: block;
    width: 100%;
    background-color: #0066cc;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}
button:hover {
    background-color: #4CAF50;
}
h2{
    color: #666;
    margin-top: 20px;
    text-align: center;  
}

h3 {
    font-size: 18px;
    color: #666;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {    
    font-size: 20px;
    text-align: center;
    padding: 8px;
}

th {
    background-color: #4CAF50;
    color: white;
 }

tr:nth-child(even) {
    background-color: #f2f2f2;
}